<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zero-Clue File Manager</title>
</head>
<body style="background-color:NavajoWhite;">
  <div align="center">
    <h1 style="color: darkolivegreen;">Zero-Clue File Manager</h1>
    <p><a href=><button>Login</button></a></p>
    <p><a href=><button>Create Account</button></a></p>

  </div>
  
  
</body>
</html>